@import "../styling/buttons";
@import "../../sassaparilla/css/libs/settings";
@import "../../sassaparilla/css/libs/mixins";

.blackwall {
  position: absolute;
  left: 0;
  top: 0;

  background-color: #000000;
  z-index: -99;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding: 10em;
}
.greywall {
  position: absolute;
  left: 0;
  top: 0;

  background-color: #25282f;
  z-index: -99;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding: 10em;
}

.button-layer {
  position: absolute;
  left: 2em;
  top: 1em;
  z-index: 2;

  li{
    line-height: 2em;
    margin: 0.6em;
  }
}

.button-small {
  @include basic-button;
  @include color(#3d4c4e);

}
